<br>

<h1 class="animated zoomIn bianco">Tours Castelli della Loira</h1>

<br>

<div class="container">
    <div class="row">
        <div class="col-sm">
            <div class="animated zoomIn">
                <div class="card bg-dark text-white">
                    <img src="/images/H1.jpg" class="card-img" alt="...">
                    <div class="card-img-overlay">
                        <h5 class="card-title">Tours</h5>
                        <p class="card-text">Qui dentro troverete tutti i nostri interessantissimi tours</p>
                        <a class=""href=/tours ><button type="button" class="btn btn-dark">Scopri i tours</button></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm">
            <div class="animated zoomIn">
                <div class="card bg-dark text-white">
                    <img src="/images/H2.jpg" class="card-img" alt="...">
                    <div class="card-img-overlay">
                        <h5 class="card-title">Newsletter</h5>
                        <p class="card-text">Iscriviti alla newsletter per rimanere sempre aggiornato</p>
                        <a class="/utentis/new"href=/tours><button type="button" class="btn btn-dark">Iscriviti</button></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<br>

<div class="container animated zoomIn">
    <h3 class="animated zoomIn bianco">Più informazioni sui Castelli della Loira</h1>
    <img src="/images/H3.jpg" class="w-50" alt="...">
    <br>
    <p class="bianco">La Valle della Loira (in francese: le Val de Loire) è conosciuta come il Giardino di Francia e la Culla della lingua francese. È nota anche per la qualità del suo patrimonio architettonico, per le sue città storiche come Montsoreau, Amboise, Angers, e per i suoi famosi castelli conosciuti in tutto il mondo. Il paesaggio della Valle della Loira e in particolare i suoi principali monumenti culturali illustrano a un livello eccezionale gli ideali del Rinascimento e dell'età dei lumi del pensiero e dell'ingegno europeo. La Valle della Loira è un luogo di importante bellezza dove è possibile visitare città e villaggi di rilevanza storica, splendidi monumenti architettonici, numerosi castelli e apprezzare alcuni dei migliori vini dell'intera Francia.
    </p>
</div>

<br>