<h1 class="bianco animated zoomIn">Modifica Tour</h1>

<%= render 'form', tour: @tour %>

<%= link_to 'Mostra', @tour, class:'btn btn-dark' %> 
<%= link_to 'Indietro', tours_path, class:'btn btn-dark' %>
