<h1 class="bianco animated zoomIn">Modifica Utenti</h1>

<%= render 'form', utenti: @utenti %>

<%= link_to 'Mostra', @utenti, class:'btn btn-dark' %> |
<%= link_to 'Indietro', utentis_path, class:'btn btn-dark' %>
